* {margin: 0px;padding: 0px;}
body {
	min-height: 100vh;
    font-family: sans-serif;
    /*caret-color:transparent;*/
}

.tableContainer{

max-width: 500px;
margin: auto;
display: grid;
grid-auto-flow: column;

}
.dropContainer ul{
	display: flex;
	flex-wrap: wrap;
}
.dropContainer ul li span{
	cursor:pointer;
}

.dropContainer ul li{
	list-style: none;
	float:left;
	width:50%;
	min-height: 25px;
}
.operations .dropContainer{
width: 150px;
}
.innerTablesize{
	width: 270px;
	min-height: 300px;
}

.selectTable{
	width: 500px;
	margin: auto;
	text-align: left;
	margin-bottom:20px;
}


#listOfTable{
	width: 100px;
height: 30px;
margin-left: 10px;
font-size: 18px;
text-align:center;
}

.tableContainer .innerTableContainer{
	text-align:left;
}

.tableContainer span{
	font-size: 30px;
    margin: 5px;
    width:40px;
}

.tableContainer .firstNumber{}
.tableContainer .multiplicationSign{}
.tableContainer .secondNumber{}
.tableContainer .equalSign{}
.tableContainer .result input{
font-size:30px;
text-align: center;
font-family: sans-serif;
padding:5px;
}

.tableContainer .result{text-align: center; width:70px;}

.wrapper{max-width:960px;margin:0px auto;position: relative;}

#header .logo h3 {
flex-grow: 1;
text-align: right;
font-family: sans-serif;
font-size: 28px;
color: #fff;
margin-top:0px;
}
#header .logo {margin: 0px auto;display: flex;align-items: center;}
#header {padding: 15px 15px 0px 15px;}
#innerWrapper{padding: 15px; text-align: center; overflow: hidden; position: relative;}
#innerWrapper h2{font-family: sans-serif;font-weight: bold;}

#instruction{
	/*margin-bottom:30px;*/
}

.buttons{
	margin-top: 20px;
	display: flex;
	justify-content: normal;
	flex-direction: column;
	width: 150px;
}

.buttons button{
	font-weight: bold;
padding: 4px 15px;
text-transform: uppercase;
letter-spacing: 1px;
margin: 2px;
cursor: pointer;
}

.innerTableContainer div{
	display: flex;
	    align-items: center;
}

.buttons button span{
	font-size: inherit;
}

#nextTable{display: none;}
.innerTableContainer .drop{
display: inline-block;
height: 30px;
width: 55px;
border-bottom: 2px solid #000;
background-color:
#f9f9f957;
border: 1px solid
#000;
}

.mainWrapper{
	width:100%;
}

#check{display: none;}
#reset{display: none;}
#showAnswer{display: none;}
#playAgain{display: none;}

@media screen and (max-width: 768px) {
	.tableContainer span{
		    font-size: 20px;
		    margin: 3px;
	    	width: 30px;
	}

		.innerTablesize {
	    	width: 180px;
		}
		.tableContainer .result{
			width:40px;
		}

		.buttons{
			    width: 110px;
	    padding: -left:5px;
	    padding-left: 5px;
		}

			.innerTableContainer .drop{
		    width: 30px;
		    height: 15px;
		    font-size:20px !important;
		    
		}
		.tableContainer{
			max-width: 355px;
		}

}


@media screen and (max-width: 500px) {
.logoWrapper img{width:100px;}
#header .logo h3{font-size:20px;}
#header{padding-bottom:0px; margin-bottom:0px;}
.buttons button{font-size: 11px;}

.tableContainer span{
	    font-size: 20px;
	    margin: 3px;
    	width: 30px;
}

	.innerTablesize {
    	width: 180px;
	}
	.tableContainer .result{
		width:40px;
	}

	.buttons{
		    width: 110px;
    padding: -left:5px;
    padding-left: 5px;
	}

		.innerTableContainer .drop{
	    width: 30px;
	    height: 15px;
	    font-size:20px !important;

	}


} 


/*  // media quesry end here...*/